
body {
	background-color:#333;
	font-family: 'Electrolize', sans-serif;
	
}
h1 {
	font-family: 'Press Start 2P', cursive;
	
}
p{
	font-size:12px;
}
#monster-title {
	
	margin-bottom:0px;
}
.container{
	background-color:#eee;
	width:900px;
	margin:auto;
	height:100%;
}

.maze-container {
	
	padding:15px 20px;
	text-align:center;
}
#monsterNum {
	padding:10px 15px;
	margin-bottom:20px;
	
}
#dashboard {
	display:none;
}
#timer, #score, #scoreMulti {
	font-weight:bold;
	font-size: 26px;
}
.rules {
	text-align:left;
}
.rules span {
	font-weight:bold;
	
}
.canvas {
	display:none;
}

.clear {
	clear:both
}
.col-12 {
	width:100%;
	float:left;
}
.col-6 {
	width:49%;
	float:left;
}
.col-4 {
	width:32%;
	float:left;
}
.special-items {
	display:inline-block;
	margin-right:20px;	
	min-width:30px;

}
#bomb-left {
	opacity:.30;
	
}
